
*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #342F4F;
}

.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    background: red;
}
.dynamic-txts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    animation:  typing 1.5s steps(10) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35% 0 35px;
    }
}
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

a{
    color: red;
    margin-left: 10px;
    text-decoration: none;
}
body{
    margin: 0;
}
.float-right{
    float: right;
}

.btn{
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
}
.btn-primary{
    background-color: rgb(45, 97, 218);
}
.btn-warning{
    background-color: yellow;
}
.mt-1px{
    margin-top: 1px;
}
.row{
    display: flex;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.33%;
}
.col-4{
    width: 25%;
}
.mt-10px{
    margin-top: 10px;
}
.card{
    border: 1px solid rgb(202, 198, 198);
}
.text-center{

}
.text-white{
    color: white;
}
.footer{
    background-color: aqua;
    padding: 10px;
}

.ms-slider {
	display: inline-block;
	height: 1.5em;
	overflow: hidden;
	vertical-align: middle;
	mask-image: linear-gradient(transparent, white, white, white, transparent);
	mask-type: luminance;
	mask-mode: alpha;
}

.ms-slider__words {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	animation-name: wordSlider;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
}

.ms-slider__word {
	display: block;
	line-height: 1.3em;
	text-align: left;
}

@keyframes wordSlider {
	100% {
		transform: translateY(-75%);
	}
}
